.sidebar{
    flex: 0.2;
    background-color:white;
    
    
}

.sidebar > hr {
    height: 1px;
    border: 0;
    background-color:aquamarine;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    
}