.videos {
    margin-bottom: 40px;
    width: 270px;
}

.videos__thumbnail{
    display: flex;
    height: 140px;
    width: 250px;
}

.videos__info {
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}

.videos__text {
    margin-left: 15px;
}

.videos__text > h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.videos__text > p {
    font-size: 14px;
    color: gray;
}

.videos__avatar {
    height: 30px !important;
    width:  30px !important;
}